.qili-universal {
  padding: 60px 0 35px;
  background-color: #f8f8f8;
}

.qili-universal .universalmsg {
  overflow: hidden;
  height: 250px;
  padding: 0 100px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 2px 2px 32px 0 rgba(48, 71, 89, 0.29);
  background-color: transparent;
    background-image: linear-gradient(151deg, #FFFFFF 0%, #D8EDFF 100%);
}
.qili-universal .universalmsg .title_box{
  margin-top: 30px;
}
.qili-universal .universalmsg .title_box h2{
  font-family: "Poppins", Sans-serif;
    font-size: 1.6vw;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: -1px;
    word-spacing: 0em;
    color: #2B65C2;
}
.qili-universal .universalmsg .title_box span{
      font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.9em;
    letter-spacing: -0.13px;
    word-spacing: 0em;
    color: #2FB454;
}
.qili-universal .universalmsg .txt {
  width: 200px;
  overflow: hidden;
  color: #fff;
}
.qili-universal .universalmsg input::placeholder,
.qili-universal .universalmsg textarea::placeholder {
    color: #5d5d5d !important;        /* æ³è¦çé¢è² */
    opacity: 1;            /* Firefox é»è®¤ opacity<1ï¼éè¦éç½® */
}
.qili-universal .universalmsg .txt i {
  font-size: 24px;
}

.qili-universal .universalmsg .txt p {
  margin-top: 15px;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 2;
}

.qili-universal .universalmsg .txt p span {
  font-size: 16px;
  color: #55bec4;
  display: block;
}

.qili-universal .universalmsg .msg {
  /* overflow: hidden; */
  margin-left: 30px;
}

.qili-universal .universalmsg .msg input {
  width: 200px;
  margin: 0 35px 0 0;
  padding-left: 0.5em;
  border-bottom: 1px solid #212121;
  background: none;
  height: 34px;
  line-height: 34px;
  color: #000;
  font-size: 16px;
}

.qili-universal .universalmsg .msg textarea {
  width: 280px;
  margin: 0 35px 0 0;
  padding-left: 0.5em;
  border-bottom: 1px solid #212121;
  background: none;
  height: 34px;
  line-height: 34px;
  resize: none;
  outline: none;
  color: #000;
  font-size: 16px;
  overflow: hidden;
}

.qili-universal .universalmsg .msg button {
  width: 180px;
  background: none;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #212121;
  display: flex;
    justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.qili-universal .universalmsg .msg button span {
  margin: 0;
}

.qili-universal .universalmsg .msg button span:nth-child(1) {
  margin-left: 0px !important;
  font-size: 18px;
  color: #212121;
  text-transform: uppercase;
}

.qili-universal .universalmsg .msg button span:nth-child(2) {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f14b17;
  color: #fff;
  border-radius: 50px;
  transition: all 0.35s;
  display: none;
}

.qili-universal .universalmsg .crmFormVali-error {
  /* color: #fff; */
  top: initial;
  left: 0;
  bottom: -10px;
  transform: translateY(100%);
}

.qili-barrier {
  overflow: hidden;
  background: var(--color-primary);
}

.qili-barrier .txt {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qili-barrier .txt p {
  font-size: 16px;
  color: #fff;
}

.qili-barrier .txt a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: #fff;
  width: 180px;
  color: var(--color-primary);
  transition: all 0.3s linear;
  font-size: 16px;
  height: 50px;
  border: 1px solid #fff;
}

.qili-barrier .txt a:hover {
  background: var(--color-primary);
  color: #fff;
}

@media(min-width: 1080px) {
  .qili-universal .universalmsg {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
  }

  .qili-universal .universalmsg .msg {
    flex: 1;
  }

  .qili-universal .universalmsg .msg form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .qili-universal .universalmsg .msg button:hover span:nth-child(2) {
    transform: rotate(360deg)
  }

  .qili-universal .universalmsg .msg input::-webkit-input-placeholder,
  .qili-universal .universalmsg .msg textarea::-webkit-input-placeholder {
    color: #fff;
  }

  .qili-universal .universalmsg .msg input:-moz-placeholder,
  .qili-universal .universalmsg .msg textarea:-moz-placeholder {
    color: #fff;
  }

  .qili-universal .universalmsg .msg input::-moz-placeholder,
  .qili-universal .universalmsg .msg textarea::-moz-placeholder {
    color: #fff;
  }

  .qili-universal .universalmsg .msg input:-ms-input-placeholder,
  .qili-universal .universalmsg .msg textarea:-ms-input-placeholder {
    color: #fff;
  }

  .qili-barrier {
    display: none;
  }

  .qili-barrier .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .qili-barrier .txt p {
    margin: 0;
  }
}

@media(max-width: 1600px) {
  .qili-universal {
    padding: 51px 0 30px;
  }
  .qili-universal .universalmsg {
    height: 221px;
    padding: 0 85px;
  }
  .qili-universal .universalmsg .txt p {
    font-size: 22px;
  }
  .qili-universal .universalmsg .msg {
    margin-left: 25px;
  }
  .qili-universal .universalmsg .msg button span:nth-child(1) {
    margin-left: 21px;
  }
  .qili-universal .universalmsg .msg button span:nth-child(2) {
    width: 43px;
    height: 43px;
  }
  .qili-universal .universalmsg .txt {
    width: 187px;
  }
}

@media(max-width: 1440px) {
  .qili-universal {
    padding: 42px 0 25px;
  }
  .qili-universal .universalmsg {
    height: 182px;
    padding: 0 70px;
  }
  .qili-universal .universalmsg .txt p {
    font-size: 18px;
  }
  .qili-universal .universalmsg .msg {
    margin-left: 20px;
  }
  .qili-universal .universalmsg .msg input {
    width: 170px;
    margin: 0 25px 0 0;
  }
  .qili-universal .universalmsg .msg textarea {
    width: 250px;
    margin: 0 25px 0 0;
  }
  .qili-universal .universalmsg .msg button {
    width: 140px;
  }
  .qili-universal .universalmsg .msg button span:nth-child(1) {
    margin-left: 18px;
  }
  .qili-universal .universalmsg .msg button span:nth-child(2) {
    width: 35px;
    height: 35px;
  }
  .qili-universal .universalmsg .txt {
    width: 154px;
  }
}

@media(max-width: 1220px) {
  .qili-universal {
    padding: 39px 0 23px;
  }
  .qili-universal .universalmsg {
    height: 169px;
    padding: 0 60px;
  }
  .qili-universal .universalmsg .txt p {
    font-size: 17px;
  }
  .qili-universal .universalmsg .msg {
    margin-left: 22px;
  }
  .qili-universal .universalmsg .msg textarea {
    width: 220px;
    margin: 0 23px 0 0;
  }
  .qili-universal .universalmsg .msg button span:nth-child(1) {
    margin-left: 16px;
  }
  .qili-universal .universalmsg .msg button span:nth-child(2) {
    width: 33px;
    height: 33px;
  }
  .qili-universal .universalmsg .txt {
    width: 143px;
    overflow: hidden;
    color: #fff;
  }
}

@media(max-width:1079px) {
  .qili-universal {
    position: fixed;
    right: 15px;
    left: 15px;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(100% - 30px);
    height: auto;
    box-sizing: border-box;
    z-index: 999;
    padding: 0;
    display: none;
  }

  .qili-universal .container {
    padding: 0;
    margin: 0;
  }

  .qili-universal .universalmsg {
    height: auto;
    padding: 0;
    background: none;
  }

  .qili-universal .universalmsg .txt {
    display: none;
  }

  .qili-universal .universalmsg .txt i {
    font-size: 20px;
  }

  .qili-universal .universalmsg .txt p {
    font-size: 16px;
    margin-top: 0;
  }

  .qili-universal .universalmsg .txt p br {
    display: none
  }

  .qili-universal .universalmsg .msg {
    margin-top: 3vw;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .qili-universal .universalmsg .msg input {
    width: 100%;
    margin-bottom: 2vw;
    color: #333;
    height: 40px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 10px;
  }

  .qili-universal .universalmsg .msg textarea {
    width: 100%;
    margin-bottom: 2vw;
    color: #333;
    border: 1px solid #e5e5e5;
    height: 90px;
    box-sizing: border-box;
    padding: 5px 10px;
  }

  .qili-universal .universalmsg .msg button {
    width: 100%;
    background: #e35c72;
    justify-content: center;
  }

  .qili-universal .universalmsg .msg button span:nth-child(2) {
    display: none;
  }

  .qili-universal .universalmsg .msg button span:nth-child(1) {
    font-size: 16px;
    display: inline-block;
    color: #fff;
    padding: 6px;
  }

  .qili-barrier .txt p {
    /* margin-bottom: 15px; */
  }

  .qili-barrier .txt a {
    height: 40px;
  }
}