#wedo {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ebeff2;
}

#wedo .container {
  position: relative;
}

#wedo #building-owl-nav {
  position: absolute;
  top: 0;
  right: 0;
}

#wedo .owl-carousel .owl-stage {
  display: flex;
}

#wedo h2 {
  font-size: 32px;
  border-bottom: 1px solid #dadada;
  display: inline-block;
  margin-bottom: 45px;
  font-family: var(--title-font-family);
}

#wedo h3 {
  font-size: 15px;
  text-align: center;
}

#wedo p {
  font-size: 16px;
  margin: 0;
}

#wedo .heading .divider-left {
  height: 4px;
  width: 70px;
  background: var(--color-primary);
  display: block;
  margin: 10px 0 -2px;
}

#wedo .slider_wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

#wedo .owl-prev,
#wedo .owl-next {
  background: #fff;
  border: 1px solid #b1bec7;
  border-radius: 5px;
  color: #555555;
  font-size: 20px;
  height: 36px;
  line-height: 36px;
  opacity: 1;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 36px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wedo .owl-prev {
  right: 60px;
}
#wedo .owl-next {
  right: 15px;
}
#wedo .owl-buttons i {
  font-size: 20px;
}

#wedo .item {
  padding: 0 15px;
  height: 100%;
}

#wedo .content_wrap {
  background-color: #fff;
  height: 100%;
  /* padding-bottom: 60px; */
}

#wedo .content_wrap .image {
  margin-bottom: 20px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}
#wedo .content_wrap .image > img {
  width: 100%;
}
#wedo .content_wrap:hover .image > img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.5s ease 0.2s;
}

#wedo .content_wrap h3 {
  /* margin-bottom: 10px; */
  font-weight: 600;
}
#wedo .content_wrap h3 > a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
}
#wedo .item:hover h3 > a {
  color: var(--color-primary);
}

#wedo .content_wrap p {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
}

/* Button */
#wedo .btn-light {
  padding: 10px 30px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  background: var(--color-primary);
  border: 1px solid transparent;
  display: none;
}
#wedo .border-radius {
  /* border-radius: var(--button-radius); */
}

/*Button Hover*/
#wedo .button-hover,
#wedo .owl-prev,
#wedo .owl-next {
  -webkit-transition: border-color 0.4s, color 0.4s;
  -ms-transition: border-color 0.4s, color 0.4s;
  -o-transition: border-color 0.4s, color 0.4s;
  -moz-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
  z-index: 1;
}

#wedo .button-hover:before,
#wedo .owl-prev:before,
#wedo .owl-next:before{
  background: var(--color-second);
}

#wedo .button-hover:before,
#wedo .owl-prev:before,
#wedo .owl-next:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  -moz-transform: scale3d(0.7, 1, 1);
  -ms-transform: scale3d(0.7, 1, 1);
  -o-transform: scale3d(0.7, 1, 1);
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -transition: transform 0.4s, opacity 0.4s;
  -ms-transition: transform 0.4s, opacity 0.4s;
  -o-transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}
#wedo .button-hover,
#wedo .button-hover:before,
#wedo .owl-prev,
#wedo .owl-prev:before,
#wedo .owl-next,
#wedo .owl-next:before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

#wedo .button-hover:hover,
#wedo .button-hover:focus,
#wedo .owl-prev:hover,
#wedo .owl-next:hover,
#wedo .owl-prev:focus,
#wedo .owl-next:focus {
  color: #fff;
  border-color: var(--color-second);
}
#wedo .button-hover:hover::before,
#wedo .button-hover:focus::before,
#wedo .owl-prev:hover::before,
#wedo .owl-next:hover:before,
#wedo .owl-prev:focus::before,
#wedo .owl-next:focus:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (max-width:992px) {
  #wedo h2 {
    font-size: 26px;
  }
  #wedo h3 {
    font-size: 20px;
  }
  #wedo p {
    font-size: 14px;
  }
}